.anim-appear {
    opacity: 0.01;
}

.anim-appear.anim-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.anim-enter.anim-enter-active {
    opacity: 1;
    transition: opacity 1.5ms ease-in;
}

.anim-leave {
    opacity: 1;
}

.anim-leave.anim-leave-active {
    opacity: 0.01;
    transition: opacity 1.5ms ease-in;
}

.item-list {
    margin-left: 20px;
}

.task-app {
    z-index: 99999;
    position: fixed;
    left: 38%;
    top: 20%;
    background: white;
    margin: 0;
    padding: 0;
}