.global-wrapper-fragment {
    display: block;
    margin: 200px 500px;
}

.global-wrapper-fragment .add-button {
    margin-left: 40px;
}

.global-wrapper-fragment .task-text-field {
    margin-top: 5px;
}

.anim-appear {
    opacity: 0.01;
}

.anim-appear.anim-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.item-list {
    margin-left: 20px;
}