.global-wrapper-fragment {
    display: block;
    margin: 200px  500px;
}

.global-wrapper-fragment .add-button {
    margin-left: 40px;
}

.global-wrapper-fragment .task-text-field {
    margin-top: 5px;
}